.Header{
    font-family: 'Libre Baskerville', serif;
    background-color: black;
    min-height: 91px;
    display: flex;
    align-items: center;
    color:white;
    transition: 0.5s;
}


.navigation_titre li {
    color:red;
}

.Header div {
    display: flex;
    justify-content: space-between;

}

.Header p {
    font-size: 20px;
}

.Header ul {
    display: flex;
}

.title {
    text-decoration: none;
    color:white;
    padding-left:50px;
    font-size: x-large;
    font-family: 'Uncial Antiqua', cursive;
    letter-spacing : 1px;
    transition: 0.5s;
}

.title:hover {
    color:darkmagenta;
    transition: 0.5s;
}

.Header ul li {
    padding-inline: 20px;
    list-style-type: none;
    font-family: 'Uncial Antiqua', cursive;
    font-size: larger;
    color:white;
    transition: 0.5s;
}
.Header ul li :hover{
    color:darkmagenta;
    transition: 0.5s;
}

.Header ul li a {
    text-decoration: none;
    color:white;
    font-family: 'Uncial Antiqua', cursive;
    font-size: larger;
    transition: 0.5s;
}


.Header ul li a:hover {
    color:darkmagenta;
    transition: 0.5s;
}

.Header a.activeLink {
    font-weight: bold;
}

@media all and (max-width: 600px) {
    
    .title {
        font-size: 18px;
        padding-left: 0px;
    }
 
    .Header {
    justify-content: center;   
    font-size: 10px; 
}

    .Header div {
        flex-direction: column;
        align-items: center;
    }

    .Header img {
        margin-top: 20px;
        width: 50%;
    }

    .Header ul li {
        padding-block: 20px;
    }
}
